{% extends "layout" %}
    {% block head %}
        <link rel="stylesheet" href="/wp-content/themes/diposserv/app/styles/article.css"/>
    {% endblock %}
{% block main %}
    <div class="article">
        <div class="name">
            <h1>{{ article.post_name }}</h1>
        </div>
        <div class="content">
            {{ article.post_content }}
        </div>
    </div>
{% endblock %}