{% extends "layout" %}
    {% block head %}
        <link rel="stylesheet" href="/wp-content/themes/diposserv/app/styles/articles.css"/>
    {% endblock %}
{% block main %}
    <div class="articles">
    {% for article in articles %}
        <div class="article">
            <a class="title" href="{{ article.guid }}"><h3>{{ article.post_title }}</h3></a>
            <div class="content">
                {{ article.post_content }}
                {#<a class="readMore" href="{{ article.guid }}">Читать далее -></a>#}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}