{% extends "layout" %}

{% block head %}

    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/styles/gallery.css">
{% endblock %}

{% block main %}
    <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
        {% for image in images %}
            <figure class="gallery-image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{ image.full.src }}" itemprop="contentUrl" data-size="{{ image.full.size }}">
                    <img src="{{ image.thumb.src }}" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption style="display: none;" itemprop="caption description">{{ image.caption }}</figcaption>
            </figure>
        {% endfor %}
    </div>
    {% include 'fullscreen_carousel' %}
    <script src="/wp-content/themes/diposserv/app/js/gallery.js"></script>
{% endblock %}
{% block footerCarousel %}{% endblock %}