<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/styles/style.css"/>
    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/styles/content.css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/js/lib/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/js/lib/owl-carousel/owl.theme.css">
    <script src="/wp-content/themes/diposserv/app/js/lib/jquery.js"></script>
    <script src="/wp-content/themes/diposserv/app/js/lib/owl-carousel/owl.carousel.js"></script>

    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/js/lib/photoswipe/dist/photoswipe.css"/>
    <script src="/wp-content/themes/diposserv/app/js/lib/photoswipe/dist/photoswipe.min.js"></script>
    <script src="/wp-content/themes/diposserv/app/js/lib/photoswipe/dist/photoswipe-ui-default.min.js"></script>
    <link rel="stylesheet" href="/wp-content/themes/diposserv/app/js/lib/photoswipe/src/css/default-skin/default-skin.css">

    {% block head %}
    {% endblock %}
</head>
<body>
<div class="body">
    <div class="header">
        <a href="#" class="orderCall"></a>
    </div>
    <div class="horizMenu">
        {% for btn in menu %}
            <div class="btn-wrapper">
                <a href="/{{ btn.suburl }}" class="btn {{ btn.isActive }}">{{ btn.title }}</a>
                <div class="submenu">
                    {% for subBtn in btn.nodes %}
                    <a href="/{{ subBtn.suburl }}" class="btn {{ subBtn.isActive }}">{{ subBtn.title }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="main">
        {% block main %}
            <div class="page-content">
            {{ content|raw }}
            </div>
        {% endblock %}
    </div>
    {% block footerCarousel %}
        <div id="owl-example" class="footerCarousel gallery">
            {% for image in images %}
                <figure class="gallery-image" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{ image.full.src }}" itemprop="contentUrl" data-size="{{ image.full.size }}">
                        <img src="{{ image.thumb.src }}" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption style="display: none;" itemprop="caption description">{{ image.caption }}</figcaption>
                </figure>
            {% endfor %}
        </div>
        <script>
            $(document).ready(function() {
                $("#owl-example").owlCarousel();
            });
        </script>
        {% include 'fullscreen_carousel' %}
        <script src="/wp-content/themes/diposserv/app/js/gallery.js"></script>
    {% endblock %}
</div>
</body>
</html>