@articlesGap: 10px;
@articlePadding: 10px;

.articles{
	padding: @articlesGap @articlesGap 1px;
	.article{
		background: #f4f4f4;
		margin-bottom: @articlesGap;
		padding: @articlePadding;
	}
	.title{
		color: #0096CC;
	}
	.content{
		margin-top: 10px;
		color: #484848;
	}
	.readMore{
		color: #969696;
	}
}