.articles {
  padding: 10px 10px 1px;
}
.articles .article {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
}
.articles .title {
  color: #0096CC;
}
.articles .content {
  margin-top: 10px;
  color: #484848;
}
.articles .readMore {
  color: #969696;
}
