.page-content,
.article {
  color: #2b2b2b;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: baseline;
  /**
	 * 2.0 Headings
	 * ----------------------------------------------------------------------------
	 */
  /**
	 * 3.0 Text Elements
	 * ----------------------------------------------------------------------------
	 */
  /**
	 * 4.0 Links
	 * ----------------------------------------------------------------------------
	 */
  /**
	 * 5.0 Alignment
	 * ----------------------------------------------------------------------------
	 */
  /**
	 * 6.0 Tables
	 * ----------------------------------------------------------------------------
	 */
  /**
	 * 7.0 Images
	 * ----------------------------------------------------------------------------
	 */
  /**
	 * 8.0 Gallery
	 * -----------------------------------------------------------------------------
	 */
  /**
	 * 9.0 Audio/Video
	 * ----------------------------------------------------------------------------
	 */
}
.page-content h1,
.article h1,
.page-content h2,
.article h2,
.page-content h3,
.article h3,
.page-content h4,
.article h4,
.page-content h5,
.article h5,
.page-content h6,
.article h6 {
  clear: both;
  font-weight: 700;
  margin: 36px 0 12px;
}
.page-content h1,
.article h1 {
  font-size: 26px;
  line-height: 1.3846153846;
}
.page-content h2,
.article h2 {
  font-size: 24px;
  line-height: 1;
}
.page-content h3,
.article h3 {
  font-size: 22px;
  line-height: 1.0909090909;
}
.page-content h4,
.article h4 {
  font-size: 20px;
  line-height: 1.2;
}
.page-content h5,
.article h5 {
  font-size: 18px;
  line-height: 1.3333333333;
}
.page-content h6,
.article h6 {
  font-size: 16px;
  line-height: 1.5;
}
.page-content h1:first-child,
.article h1:first-child,
.page-content h2:first-child,
.article h2:first-child,
.page-content h3:first-child,
.article h3:first-child,
.page-content h4:first-child,
.article h4:first-child,
.page-content h5:first-child,
.article h5:first-child,
.page-content h6:first-child,
.article h6:first-child {
  margin-top: 0;
}
.page-content address,
.article address {
  font-style: italic;
  margin-bottom: 24px;
}
.page-content abbr[title],
.article abbr[title] {
  border-bottom: 1px dotted #2b2b2b;
  cursor: help;
}
.page-content b,
.article b,
.page-content strong,
.article strong {
  font-weight: 700;
}
.page-content cite,
.article cite {
  border: 0;
}
.page-content cite,
.article cite,
.page-content dfn,
.article dfn,
.page-content em,
.article em,
.page-content i,
.article i {
  font-style: italic;
}
.page-content mark,
.article mark,
.page-content ins,
.article ins {
  background: #fff9c0;
  border: 0;
  color: inherit;
  text-decoration: none;
}
.page-content p,
.article p {
  margin: 0 0 24px;
}
.page-content code,
.article code,
.page-content kbd,
.article kbd,
.page-content tt,
.article tt,
.page-content var,
.article var,
.page-content samp,
.article samp,
.page-content pre,
.article pre {
  font-family: monospace, serif;
  font-size: 15px;
  line-height: 1.6;
}
.page-content pre,
.article pre {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  max-width: 100%;
  overflow: auto;
  padding: 12px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.page-content blockquote,
.article blockquote,
.page-content q,
.article q {
  quotes: none;
}
.page-content blockquote:before,
.article blockquote:before,
.page-content blockquote:after,
.article blockquote:after,
.page-content q:before,
.article q:before,
.page-content q:after,
.article q:after {
  content: "";
  content: none;
}
.page-content blockquote,
.article blockquote {
  color: #767676;
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.2631578947;
  margin: 0 0 24px;
}
.page-content blockquote cite,
.article blockquote cite,
.page-content blockquote small,
.article blockquote small {
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.page-content blockquote em,
.article blockquote em,
.page-content blockquote i,
.article blockquote i,
.page-content blockquote cite,
.article blockquote cite {
  font-style: normal;
}
.page-content blockquote strong,
.article blockquote strong,
.page-content blockquote b,
.article blockquote b {
  font-weight: 400;
}
.page-content small,
.article small {
  font-size: smaller;
}
.page-content big,
.article big {
  font-size: 125%;
}
.page-content sup,
.article sup,
.page-content sub,
.article sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.page-content sup,
.article sup {
  bottom: 1ex;
}
.page-content sub,
.article sub {
  top: .5ex;
}
.page-content dl,
.article dl {
  margin: 0 0 24px;
}
.page-content dt,
.article dt {
  font-weight: bold;
}
.page-content dd,
.article dd {
  margin: 0 0 24px;
}
.page-content ul,
.article ul,
.page-content ol,
.article ol {
  list-style: none;
  margin: 0 0 24px 20px;
  padding-left: 0;
}
.page-content ul,
.article ul {
  list-style: disc;
}
.page-content ol,
.article ol {
  list-style: decimal;
}
.page-content li > ul,
.article li > ul,
.page-content li > ol,
.article li > ol {
  margin: 0 0 0 20px;
}
.page-content del,
.article del {
  color: #767676;
}
.page-content hr,
.article hr {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 23px;
}
.page-content a,
.article a {
  color: #24890d;
  text-decoration: none;
}
.page-content a:visited,
.article a:visited {
  color: #24890d;
}
.page-content a:focus,
.article a:focus {
  outline: thin dotted;
}
.page-content a:active,
.article a:active,
.page-content a:hover,
.article a:hover {
  color: #41a62a;
  outline: 0;
}
.page-content .alignleft,
.article .alignleft {
  float: left;
  margin: 7px 24px 7px 0;
}
.page-content .alignright,
.article .alignright {
  float: right;
  margin: 7px 0 7px 24px;
}
.page-content .aligncenter,
.article .aligncenter {
  clear: both;
  display: block;
  margin: 7px auto;
}
.page-content blockquote.alignleft,
.article blockquote.alignleft,
.page-content blockquote.alignright,
.article blockquote.alignright {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 17px;
  width: 50%;
}
.page-content blockquote.alignleft p,
.article blockquote.alignleft p,
.page-content blockquote.alignright p,
.article blockquote.alignright p {
  margin-bottom: 17px;
}
.page-content .mceItemTable,
.article .mceItemTable,
.page-content .mce-item-table,
.article .mce-item-table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0 1px;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  line-height: 1.2857142857;
  margin-bottom: 24px;
  width: 100%;
}
.page-content .mceItemTable th,
.article .mceItemTable th,
.page-content .mceItemTable caption,
.article .mceItemTable caption,
.page-content .mce-item-table th,
.article .mce-item-table th,
.page-content .mce-item-table caption,
.article .mce-item-table caption {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
  font-weight: 700;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: baseline;
}
.page-content .mceItemTable td,
.article .mceItemTable td,
.page-content .mce-item-table td,
.article .mce-item-table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  padding: 8px;
  vertical-align: baseline;
}
.page-content img,
.article img {
  height: auto;
  max-width: 474px;
  vertical-align: middle;
}
.page-content .wp-caption,
.article .wp-caption {
  background: transparent;
  border: none;
  color: #767676;
  margin: 0 0 24px 0;
  max-width: 474px;
  padding: 0;
  text-align: left;
}
.page-content .html5-captions .wp-caption,
.article .html5-captions .wp-caption {
  padding: 0;
}
.page-content .wp-caption.alignleft,
.article .wp-caption.alignleft {
  margin: 7px 14px 7px 0;
}
.page-content .html5-captions .wp-caption.alignleft,
.article .html5-captions .wp-caption.alignleft {
  margin-right: 24px;
}
.page-content .wp-caption.alignright,
.article .wp-caption.alignright {
  margin: 7px 0 7px 14px;
}
.page-content .wp-caption.alignright img,
.article .wp-caption.alignright img,
.page-content .wp-caption.alignright .wp-caption-dd,
.article .wp-caption.alignright .wp-caption-dd {
  padding-left: 10px;
}
.page-content .html5-captions .wp-caption.alignright,
.article .html5-captions .wp-caption.alignright {
  margin-left: 24px;
}
.page-content .html5-captions .wp-caption.alignright img,
.article .html5-captions .wp-caption.alignright img,
.page-content .html5-captions .wp-caption.alignright .wp-caption-dd,
.article .html5-captions .wp-caption.alignright .wp-caption-dd {
  padding: 0;
}
.page-content .wp-caption.aligncenter,
.article .wp-caption.aligncenter {
  margin: 7px auto;
}
.page-content .wp-caption-dt,
.article .wp-caption-dt {
  margin: 0;
}
.page-content .wp-caption .wp-caption-text,
.article .wp-caption .wp-caption-text,
.page-content .wp-caption-dd,
.article .wp-caption-dd {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
  padding: 0 10px 0 0;
  /* Avoid the caption to overflow the width of the image because wp-caption has 10px wider width */
  text-align: left;
}
.page-content .mceTemp + ul,
.article .mceTemp + ul,
.page-content .mceTemp + ol,
.article .mceTemp + ol {
  list-style-position: inside;
}
.page-content .gallery .gallery-item,
.article .gallery .gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.page-content .gallery-columns-1 .gallery-item,
.article .gallery-columns-1 .gallery-item {
  max-width: 100%;
  width: auto;
}
.page-content .gallery-columns-2 .gallery-item,
.article .gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(36%);
  max-width: calc(36%);
  width: auto;
}
.page-content .gallery-columns-3 .gallery-item,
.article .gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: -webkit-calc(22.3%);
  max-width: calc(22.3%);
  width: auto;
}
.page-content .gallery-columns-4 .gallery-item,
.article .gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(16%);
  max-width: calc(16%);
  width: auto;
}
.page-content .gallery-columns-5 .gallery-item,
.article .gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(12%);
  max-width: calc(12%);
  width: auto;
}
.page-content .gallery-columns-6 .gallery-item,
.article .gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(9.7%);
  max-width: calc(9.7%);
  width: auto;
}
.page-content .gallery-columns-7 .gallery-item,
.article .gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(7.28%);
  max-width: calc(7.28%);
  width: auto;
}
.page-content .gallery-columns-8 .gallery-item,
.article .gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(6.5%);
  max-width: calc(6.5%);
  width: auto;
}
.page-content .gallery-columns-9 .gallery-item,
.article .gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(5.1%);
  max-width: calc(5.1%);
  width: auto;
}
.page-content .gallery-columns-1 .gallery-item:nth-of-type(1n),
.article .gallery-columns-1 .gallery-item:nth-of-type(1n),
.page-content .gallery-columns-2 .gallery-item:nth-of-type(2n),
.article .gallery-columns-2 .gallery-item:nth-of-type(2n),
.page-content .gallery-columns-3 .gallery-item:nth-of-type(3n),
.article .gallery-columns-3 .gallery-item:nth-of-type(3n),
.page-content .gallery-columns-4 .gallery-item:nth-of-type(4n),
.article .gallery-columns-4 .gallery-item:nth-of-type(4n),
.page-content .gallery-columns-5 .gallery-item:nth-of-type(5n),
.article .gallery-columns-5 .gallery-item:nth-of-type(5n),
.page-content .gallery-columns-6 .gallery-item:nth-of-type(6n),
.article .gallery-columns-6 .gallery-item:nth-of-type(6n),
.page-content .gallery-columns-7 .gallery-item:nth-of-type(7n),
.article .gallery-columns-7 .gallery-item:nth-of-type(7n),
.page-content .gallery-columns-8 .gallery-item:nth-of-type(8n),
.article .gallery-columns-8 .gallery-item:nth-of-type(8n),
.page-content .gallery-columns-9 .gallery-item:nth-of-type(9n),
.article .gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.page-content .gallery-columns-1 .gallery-item:nth-of-type(1n),
.article .gallery-columns-1 .gallery-item:nth-of-type(1n),
.page-content .gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.article .gallery-columns-2 .gallery-item:nth-of-type(2n - 1),
.page-content .gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.article .gallery-columns-3 .gallery-item:nth-of-type(3n - 2),
.page-content .gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.article .gallery-columns-4 .gallery-item:nth-of-type(4n - 3),
.page-content .gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.article .gallery-columns-5 .gallery-item:nth-of-type(5n - 4),
.page-content .gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.article .gallery-columns-6 .gallery-item:nth-of-type(6n - 5),
.page-content .gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.article .gallery-columns-7 .gallery-item:nth-of-type(7n - 6),
.page-content .gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.article .gallery-columns-8 .gallery-item:nth-of-type(8n - 7),
.page-content .gallery-columns-9 .gallery-item:nth-of-type(9n - 8),
.article .gallery-columns-9 .gallery-item:nth-of-type(9n - 8) {
  margin-left: 12px;
  /* Compensate for the default negative margin on .gallery, which can't be changed. */
}
.page-content .gallery .gallery-caption,
.article .gallery .gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
.page-content .gallery .gallery-caption:before,
.article .gallery .gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.page-content .gallery-item:hover .gallery-caption,
.article .gallery-item:hover .gallery-caption {
  opacity: 1;
}
.page-content .gallery-columns-7 .gallery-caption,
.article .gallery-columns-7 .gallery-caption,
.page-content .gallery-columns-8 .gallery-caption,
.article .gallery-columns-8 .gallery-caption,
.page-content .gallery-columns-9 .gallery-caption,
.article .gallery-columns-9 .gallery-caption {
  display: none;
}
.page-content .mejs-mediaelement,
.article .mejs-mediaelement,
.page-content .mejs-container .mejs-controls,
.article .mejs-container .mejs-controls {
  background: #000;
}
.page-content .mejs-controls .mejs-time-rail .mejs-time-loaded,
.article .mejs-controls .mejs-time-rail .mejs-time-loaded,
.page-content .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.article .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #fff;
}
.page-content .mejs-controls .mejs-time-rail .mejs-time-current,
.article .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #24890d;
}
.page-content .mejs-controls .mejs-time-rail .mejs-time-total,
.article .mejs-controls .mejs-time-rail .mejs-time-total,
.page-content .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.article .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: rgba(255, 255, 255, 0.33);
}
.page-content .mejs-controls .mejs-time-rail span,
.article .mejs-controls .mejs-time-rail span,
.page-content .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.article .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.page-content .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.article .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  border-radius: 0;
}
.page-content .mejs-overlay-loading,
.article .mejs-overlay-loading {
  background: transparent;
}
.page-content .mejs-overlay-button,
.article .mejs-overlay-button {
  background-color: #fff;
  background-image: none;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  color: #000;
  height: 36px;
  margin-left: -24px;
  width: 48px;
}
.page-content .mejs-overlay-button:before,
.article .mejs-overlay-button:before {
  -webkit-font-smoothing: antialiased;
  content: '\f452';
  display: inline-block;
  font: normal 32px/1.125 Genericons;
  position: absolute;
  top: 1px;
  left: 10px;
}
.page-content .mejs-controls .mejs-button button:focus,
.article .mejs-controls .mejs-button button:focus {
  outline: none;
}
.page-content .mejs-controls .mejs-button button,
.article .mejs-controls .mejs-button button {
  -webkit-font-smoothing: antialiased;
  background: none;
  color: #fff;
  display: inline-block;
  font: normal 16px/1 Genericons;
}
.page-content .mejs-playpause-button.mejs-play button:before,
.article .mejs-playpause-button.mejs-play button:before {
  content: '\f452';
}
.page-content .mejs-playpause-button.mejs-pause button:before,
.article .mejs-playpause-button.mejs-pause button:before {
  content: '\f448';
}
.page-content .mejs-volume-button.mejs-mute button:before,
.article .mejs-volume-button.mejs-mute button:before {
  content: '\f109';
  font-size: 20px;
  position: absolute;
  top: -2px;
  left: 0;
}
.page-content .mejs-volume-button.mejs-unmute button:before,
.article .mejs-volume-button.mejs-unmute button:before {
  content: '\f109';
  left: 0;
  position: absolute;
  top: 0;
}
.page-content .mejs-fullscreen-button button:before,
.article .mejs-fullscreen-button button:before {
  content: '\f474';
}
.page-content .mejs-fullscreen-button.mejs-unfullscreen button:before,
.article .mejs-fullscreen-button.mejs-unfullscreen button:before {
  content: '\f406';
}
.page-content .mejs-overlay:hover .mejs-overlay-button,
.article .mejs-overlay:hover .mejs-overlay-button {
  background-color: #24890d;
  color: #fff;
}
.page-content .mejs-controls .mejs-button button:hover,
.article .mejs-controls .mejs-button button:hover {
  color: #41a62a;
}
.page-content html .page-content.rtl,
.article html .page-content.rtl {
  direction: rtl;
  unicode-bidi: embed;
}
.page-content .rtl ol,
.article .rtl ol,
.page-content .rtl ul,
.article .rtl ul {
  margin-left: 0;
  margin-right: 24px;
}
.page-content .rtl .wp-caption,
.article .rtl .wp-caption,
.page-content .rtl tr th,
.article .rtl tr th {
  text-align: right;
}
.page-content .rtl td,
.article .rtl td {
  text-align: right;
}
