* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Myriad Pro';
  background: url(../images/bg.jpg);
}
.body {
  width: 940px;
  margin: auto;
  display: block;
}
.header {
  background: url(../images/banner.jpg);
  height: 336px;
  margin-top: 20px;
}
.header .orderCall {
  display: block;
  content: '';
  position: relative;
  left: 482px;
  top: 197px;
  background: url(../images/order_call.png) no-repeat;
  height: 80px;
  width: 420px;
}
.horizMenu {
  height: 56px;
  background: #60a900;
  margin-top: 20px;
  color: white;
}
.horizMenu .btn-wrapper {
  float: left;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 16.66666667%;
}
.horizMenu .btn-wrapper .btn {
  display: block;
  line-height: 56px;
}
.horizMenu .btn-wrapper:hover {
  background: #b71882;
}
.horizMenu .submenu {
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  min-width: 156.66666667px;
  box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.25);
}
.horizMenu .btn-wrapper:hover .submenu {
  display: block;
  opacity: 1;
  position: absolute;
  background: #60a900;
  float: left;
  left: 0;
}
.horizMenu .btn-wrapper:hover .submenu .btn {
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  clear: both;
  display: block;
}
.horizMenu .btn-wrapper:hover .submenu .btn:hover {
  background: #b71882;
}
.bottomGap {
  margin-bottom: 20px;
}
.btn.active {
  background: #b71882;
}
.footerCarousel {
  background: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-bottom: 40px;
  height: 214px;
}
.footerCarousel .gallery-image {
  padding-left: 18px;
  padding-top: 18px;
}
.main {
  margin-top: 20px;
  width: 100%;
  min-height: calc(100vh - (20px*5 + 336px + 56px + 214px));
  background: white;
}
@media all and (max-height: 1024px) {
  .main {
    min-height: 300px;
  }
}
.gallery-wrapper {
  width: 100%;
  background: white;
}
.page-content {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
}
