@bodyWidth: 940px;
@horizMenuHeight: 56px;
@horizMenuSubBtnHeight: 40px;

@vertMenuWidth: 220px;
@vertMenuBtnHeight: 48px;
@vertMenuTextLeftGap: 6px;
@menuDecorationHeight: 32px;

@headerHeight: 336px;
@majorGap: 20px;
@contactsBlockWidth: 160px;
@contactsBlockHeight: 120px;
@footerCarouselHeight: 176px;

@menuBtnsCount: 6;

@majorGreenColor: #60a900;
@minorGreenColor: #92da35;
@minorPurpleColor: #b71882;

*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

body{
	font-family: 'Myriad Pro';
	background: url(images/bg.jpg);
}

.body{
	width: @bodyWidth;
	margin: auto;
	display: block;
}

.header{
	background: url(images/banner.jpg);
	height: @headerHeight;
	margin-top: @majorGap;
	.orderCall{
		display: block;
		content: '';
		position: relative;
		left: 482px;
		top: 197px;
		background: url(images/order_call.png) no-repeat;
		height: 80px;
		width: 420px;
	}
}



.horizMenu{
	height: @horizMenuHeight;
	background: @majorGreenColor;
	margin-top: @majorGap;
	color: white;

	.btn-wrapper{
		float: left;
		display: inline-block;
		position: relative;
		text-align: center;
		width: 100%/@menuBtnsCount;

		.btn{
			display: block;
			line-height: @horizMenuHeight;
		}
	}

	.btn-wrapper:hover{
		background: @minorPurpleColor;
	}

	.submenu{
		position: absolute;
		display: none;
		opacity: 0;
		transition: opacity 1s;
		min-width: @bodyWidth/6;
		box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.25)
	}
	.btn-wrapper:hover .submenu{
		display: block;
		opacity: 1;
		position: absolute;
		background: @majorGreenColor;

		float: left;
		left: 0;
		.btn{
			line-height: @horizMenuSubBtnHeight;
			padding-left: 10px;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
			clear: both;
			display: block;
			&:hover{
				background: @minorPurpleColor;
			}
		}
	}
}

.bottomGap {
	margin-bottom: @majorGap;
}

.btn.active{
	background: @minorPurpleColor;
}

.btn-wpapper .btn.active{

}

.footerCarousel{
	background: @majorGreenColor;
	margin-top: @majorGap;
	height: @footerCarouselHeight;
}

.main{
	margin-top: @majorGap;
	width: 100%;
	min-height: ~"calc(100vh - (@{majorGap}*5 + @{headerHeight} + @{horizMenuHeight} + @{footerCarouselHeight}))";
	background: white;
}

.gallery-wrapper{
	width: 100%;
	background: white;
}